@{
    ViewBag.Title = "ItemAddCheck";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<center>
    <h2>商品情報メンテナンス</h2>
    <div>
        以下の内容で商品情報を登録します。<br>
        登録内容を確認の上、「登録」ボタンを押してください。
    </div>
    <br>

    <form action="/Item/ItemAdd" method="post">
        <table border="1">
            <tr>
                <th>商品番号</th>
                <td>@String.Format("{0:D4}", ViewBag.Imodel1.ItemId)</td>
            </tr>
            <tr>
                <th>商品名</th>
                <td>@ViewBag.Imodel1.ItemName</td>
            </tr>
            <tr>
                <th>商品画像</th>
                <td> <img src="@ViewBag.Imodel1.ItemPhoto" /> </td>
            </tr>
            <tr>
                <th>単価</th>
                <td>@String.Format("{0:C}", ViewBag.Imodel1.UnitPrice)-</td>
            </tr>
            <tr>
                <th>寸法</th>
                <td>@ViewBag.Imodel1.Size</td>
            </tr>
            <tr>
                <th>種別</th>
                <td>@ViewBag.Imodel1.Assortment</td>
            </tr>
            <tr>
                <th>カテゴリー</th>
                <td>@ViewBag.Imodel1.Category</td>
            </tr>
        </table>
        <br>
        <input type="submit" value="登録" />
        <button onclick="history.back()">戻る</button>
    </form>
</center>