
@{
    ViewBag.Title = "CsAddCheck";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@Html.ValidationSummary()

<center>
    <div>
        送信内容をご確認ください。<br />
        よろしければ、「登録」ボタンを押してください。
    </div>
    <br>
</center>
@using (Html.BeginForm("CsAdd", "Customer", FormMethod.Post))
{
    <center>
        <table border="1" width="600" height="250">
            <tr>
                <th colspan="2" style="text-align:center">会社情報</th>
            </tr>
            <tr>

                <th style="text-align:center">会社名</th>
                <td>@ViewBag.Customer.CompanyName</td>
            </tr>
            <tr>
                <th style="text-align:center">住所</th>
                <td>@ViewBag.Customer.Adress</td>
            </tr>
            <tr>
                <th style="text-align:center">電話番号</th>
                <td>@ViewBag.Customer.TelNo</td>
            </tr>
            <tr>
                <th colspan="2" style="text-align:center">ご担当者様情報</th>
            </tr>
            <tr>

                <th style="text-align:center">氏名(漢字)</th>
                <td>@ViewBag.Customer.CustomerName</td>
            </tr>
            <tr>
                <th style="text-align:center">氏名(かな)</th>
                <td>@ViewBag.Customer.CustomerKana</td>
            </tr>
            <tr>
                <th style="text-align:center">部署</th>
                <td>@ViewBag.Customer.Dept</td>
            </tr>
            <tr>
                <th style="text-align:center">メールアドレス</th>
                <td>@ViewBag.Customer.Email</td>
            </tr>
        </table>
    </center>
    <center>

        <input type="submit" value="登録">
        <input type="button" onclick="location.href=`/Customer/CsAddInput`" value="戻る">

    </center>
}
