
@{
    ViewBag.Title = "CsUpdateCheck";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<center>
    <h2>顧客情報メンテナンス</h2>
    <div>
        以下の内容で顧客情報を更新します。<br>
        更新内容を確認の上、「更新」ボタンを押してください。
    </div>
    <br>

    <form action="/Customer/CsUpdate" method="post">
        <table border="1">
            <tr>
                <th>顧客ID</th>
                <th>@String.Format("{0:D6}", ViewBag.Cmodel2.CustomerId)</th>
            </tr>
            <tr><th style="text-align:center" colspan="2">会社情報</th></tr>
            <tr>
                <th>会社名</th>
                <th>@ViewBag.Cmodel2.CompanyName</th>
            </tr>
            <tr>
                <th>住所</th>
                <th>@ViewBag.Cmodel2.Adress</th>
            </tr>
            <tr>
                <th>電話番号</th>
                <th>@ViewBag.Cmodel2.TelNo</th>
            </tr>
            <tr><th style="text-align:center" colspan="2">顧客担当者情報</th></tr>
            <tr>
                <th>氏名（漢字）</th>
                <th>@ViewBag.Cmodel2.CustomerName</th>
            </tr>
            <tr>
                <th>氏名（かな）</th>
                <th>@ViewBag.Cmodel2.CustomerKana</th>
            </tr>
            <tr>
                <th>部署</th>
                <th>@ViewBag.Cmodel2.Dept</th>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <th>@ViewBag.Cmodel2.Email</th>
            </tr>
        </table>
        <input type="submit" value="更新" /><button type="button" onclick="location.href=`CsList`">戻る</button>
    </form>
</center>
