
@model Megumirai.Models.EmpLoginModel
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<title>Login</title>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <header>
        <h2>ログイン</h2>
    </header>
    <article>
        @Html.ValidationSummary()
        @using (@Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationMessageFor(model => model.EmployeeId)<br>
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <table border="1">
                <tr>
                    <th>社員番号</th>
                    <td> @Html.TextBoxFor(model => model.EmployeeId)</td>
                </tr>
                <tr>
                    <th>パスワード</th>
                    <td>@Html.PasswordFor(model => model.Password)</td>
                </tr>
                    </table>
            <div><input type="submit" value="ログイン" /><input type="reset" value="クリア" /></div>
        }
      
    </article>
</body>
</html>

